table {
  width: 100%;
}

th {
  text-align: left;
}

.sort-btn-container {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.sort-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}